EXPO_PUBLIC_API_URL=

EXPO_PUBLIC_SENTRY_DSN=

EXPO_PUBLIC_METADATA_ABOUT_URL=
EXPO_PUBLIC_METADATA_TERMS_URL=https://github.com/anmol-fzr/safe-fin/blob/dev/TERMS.md
EXPO_PUBLIC_METADATA_SUPPORT_URL=
EXPO_PUBLIC_METADATA_POLICY_URL=

EXPO_PUBLIC_METADATA_PLAYSTORE=
EXPO_PUBLIC_METADATA_APPSTORE=
EXPO_PUBLIC_METADATA_GITHUB=

EXPO_UNSTABLE_ATLAS=true
